.datepicker-date-display, .datepicker-calendar-container, .datepicker-title-bs, .modal, .select-dropdown.dropdown-trigger, .dropdown-content.select-dropdown{
  background-color:#212121;
  color: white !important;
}
.month-next svg, .month-prev svg{
  fill: white;
}
.datepicker-controls .select-month input{
  width: 100%;
}
.editor-toolbar{
  background-color: white;
}
.CodeMirror-scroll{
  max-height: 300px;
}
.CodeMirror.cm-s-paper.CodeMirror-wrap.CodeMirror-sided.CodeMirror-fullscreen .CodeMirror-scroll, .CodeMirror.cm-s-paper.CodeMirror-wrap.CodeMirror-fullscreen .CodeMirror-scroll{
  max-height: 100%;
}
.editor-preview-side.editor-preview-active-side{
  color: white;
}
.CodeMirror-gutter-filler, .CodeMirror-scrollbar-filler,.CodeMirror, .editor-preview-side, .editor-preview-active-side, .editor-toolbar, .editor-toolbar.fullscreen,.editor-toolbar.fullscreen::after, .editor-toolbar.fullscreen::before, .editor-preview.editor-preview-active{
  background: #212121 !important;
  color: white;
}
.editor-toolbar, .editor-toolbar:hover{
  border: transparent;
  opacity: 1;

}
.CodeMirror-cursor{
  border-left-color: white;
}
.CodeMirror,.editor-preview-side, .editor-preview-active-side{
  border-color: #000;
}
span.CodeMirror-selectedtext{
  background: #F44336;
}
.editor-toolbar button{
  width: 32.4px;
  height: 32.4px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin-right: 3px;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  line-height: 32.4px;
  font-size: 13px;
  color: #fff;
  border-radius: 50%;
  padding: 0;
  text-decoration: none;
  text-align: center;
  letter-spacing: .5px;
  outline: 0;
  border: none;
  background-color: #F44336 !important;
}
.CodeMirror{
  border-radius:4px;
}
.editor-toolbar a:before,
.chips.chips-autocomplete.white-text.input-field .input {
  color: white;
}
.editor-preview pre, .editor-preview-side pre{
  background-color: #424242;
}
img{
  max-width: 100%;
}
.row{
  margin-bottom: 0;
}
.CodeMirror-selected { background-color: #212121 !important; }
.CodeMirror-focused .CodeMirror-selected { background-color: #212121 !important; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background-color: #212121 !important; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background-color: #212121 !important; }
